.box1{
    background-color: #003585;
     height: 120px;
}

.box2{
    background-color: #0548ac;
     height: 60px;
}

.redes{
    font-size: 60px !important;
    color: #149de1;
}

.textos{
    color: white;
    text-decoration: none;
    
}