.caixa {
    background-color: #003585;
}

.titulo {
    color: white !important;
    font-weight: bold !important;
}

.botao {
    border-color: #149de1 !important;
    background-color: #0548ac;
    color: white !important;
}

.postagens{
    background-color: white; 
}